# base working directory for the project
# full field list and collections list will be saved here
# a subdirectory for each collection will be created in this directory
wrk_dir: /opt/migrations/clientdirectory

# CONTENTdm web services URL base
cdm_ws_url: https://server12345.contentdm.oclc.org/dmwebservices/index.php?q=

# CONTENTdm utils URL base (for GetFile, GetThumbnail, etc)
utils_url: https://your.digital-colls.edu/utils

# cdminspect directory path -- cdminspect is available from https://github.com/mjordan/cdminspect
cdminspectpath: /home/username/code/cdminspect

# path to application log file
logfile: /opt/migrations/clientdirectory/cdm/cdmtools.log

# number of seconds to sleep after each api call
sleeptime: 0.15

# do not compile data/stats/reports on field values or types for field names beginning with (or equaling)
#  any of the following
ignore_field_prefixes:
  - mig
  - dm
  - cdm
  - fullrs
  - find
  - restrictionCode

# do not perform cleanup operations on field values in fields with names that begin with (or equal) any
#   of the following
cleanup_ignore_field_prefixes:
  - mig
  - dm
  - fullrs
  - find
  - restrictionCode

# do not perform metadata mapping on fields with names that begin with (or equal) any
#   of the following
mapping_ignore_field_prefixes:
  - mig
  - dm
  - fullrs
  - find
  - restrictionCode

# multivalued field delimiter
mv_delimiter: ;

# list of fields you determine cannot be treated as multivalued based on the delimiter above
# These will likely include notes fields where semicolons or commas are part of the content,
#  as well as extent fields recorded according to ISBD rules
not_multivalued:
  - transc

replacements:
  - colls: ''
    fields: ''
    find: "’"
    replace: "'"
    type: plain
  - colls: ''
    fields:
      - creato
      - formaa
      - format
      - publia
      - reposa
      - reposi
      - subjea
    find: ";$"
    replace: ''
    type: regexp
  - colls: ''
    fields: 'formaa'
    find: 'PDF'
    replace: 'application/pdf'
    type: plain
  - colls: 'photoCollection'
    fields: 'formaa'
    find: 'image/tiff-jpeg'
    replace: 'image/jp2'
    type: plain
